@import "./bulma-custom.scss";

$family-heading: "Raleway", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Arial, sans-serif;
$family-serif: Georgia, Cambria, "Times New Roman", Times, serif;
$navbar-height: 5rem;


