$tan: #dccdbf;
$tan2: hsl(37, 25%,  74%);

$link: #4582EC ;
$danger: $green;
$primary: $red;

//Atlantic colour scheme
$apple: $tan2;
$fuschia: #CC3D7A;
$gold : #cca33d;
$cyan : #00b8e6;
$beige : #F0B67F;

//Color scheme old apple
$cape-cod-grey: #484d4b;
$blanc-brown: #d4ccb9;
$silver-chalice-grey: #b0b0ab;
$bison-hide-grey: #b1a48e;
$eggplant: #862754;
$eggplant_invert: findColorInvert($eggplant);
$eggplant_light: #864d69;
$blue: #3D81DA;
$apple-red: #9F1E17;
$burnt-orange: #F4581F;

$polaroid_blue : #37a3e0;
$polaroid_green : #00b140;
$polaroid_gold : #ffb500;
$polaroid_gold_light : #ffd975;
$polaroid_orange : #ff8200;
$polaroid_red : #da291c;
$polaroid_pink : #f00095;
$polaroid_red_invert: findColorInvert($polaroid_red);

$navbar-background-color: $cape-cod-grey;
$background: $white;
$scheme-main: $white;
$footer-background-color:  $silver-chalice-grey;

$carousel-indicator-color: $polaroid_green;
$carousel-arrow-background: $polaroid_orange;
$carousel-arrow-color: $polaroid_green;

//$header-text-gradient-atlantic: linear-gradient($fuschia 30%, $gold 45%, $cyan 60%, $eggplant 75%);
$header-text-gradient: linear-gradient(to right, $polaroid_blue 20%, $polaroid_green 38%, $polaroid_gold 46%,
  $polaroid_orange 54%,$polaroid_red 62%, $polaroid_pink 80% );


$colors: (
  "white": ($tan, $black),
  "black": ($black, $white),
  "light": ($light, $light-invert),
  "dark": ($dark, $dark-invert),
  "primary": ($polaroid_red, $polaroid_red_invert),
  "info": ($polaroid_blue, $polaroid_blue),
  "success": ($success, $success-invert),
  "warning": ($warning, $warning-invert),
  "danger": ($danger, $danger-invert),
  "eggplant": ($eggplant, $danger-invert),
  "eggplant-lite": ($eggplant_light, $danger-invert),
  "orange": ($polaroid_orange, $polaroid_orange),
);


