*.log
.cache
.DS_Store
src/.temp
node_modules
dist
.env
.env.*
# IDE
.idea
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Service worker
sw.*

# graphql config
.graphqlconfig

# google credentials file
scripts/credentials.json
