@import "~bulma/sass/utilities/_all";
@import "~bulma/sass/utilities/functions";

$grey-darker:  #363636;
$grey-dark:    #373a3c;
$grey:         #55595c;
$grey-light:   #818a91;
$grey-lighter: #d9dee2;

$black:        hsl(0, 0%, 4%) !default
$black-bis:    hsl(0, 0%, 7%) !default
$black-ter:    hsl(0, 0%, 14%) !default

$grey-darker:  hsl(0, 0%, 21%) !default
$grey-dark:    hsl(0, 0%, 29%) !default
$grey:         hsl(0, 0%, 48%) !default
$grey-light:   hsl(0, 0%, 71%) !default
$grey-lighter: hsl(0, 0%, 86%) !default

$white-ter:    hsl(0, 0%, 96%) !default
$white-bis:    hsl(0, 0%, 98%) !default
$white:        hsl(0, 0%, 100%) !default

$turquoise:    hsl(171, 100%, 41%) !default
$cyan:         hsl(204, 86%,  53%) !default


$yellow:       #ffd500;
$green:        #02B875;
$blue:         #45b2d3;
$red:          #d9534f;
$tan: #dccdbf;
$tan2: hsl(37, 25%,  74%) !default;


$apple: $tan2 !default
$apple-invert: findColorInvert($apple) !default

$fuschia: #CC3D7A;
$fuschia-invert: findColorInvert($fuschia);

$gold : #cca33d;
$gold-invert: findColorInvert($gold);
$cyan : #00b8e6;
$cyan-invert: findColorInvert($cyan);
$beige : #F0B67F;
$beige-invert: findColorInvert($beige);

$link: #4582EC ;
$danger: $green;
$primary: $red;

$subtitle-color: $green;

$family-heading: "Raleway", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Arial, sans-serif;

$family-serif: Georgia, Cambria, "Times New Roman", Times, serif;

$navbar-height: 5rem;

$bulmaswatch-import-font: true !default;




// Setup $colors to use as bulma classes (e.g. 'is-twitter')
$colors: (
  "white": ($tan, $black),
  "black": ($black, $white),
  "light": ($light, $light-invert),
  "dark": ($dark, $dark-invert),
  "primary": ($primary, $primary-invert),
  "info": ($info, $info-invert),
  "success": ($success, $success-invert),
  "warning": ($warning, $warning-invert),
  "danger": ($danger, $danger-invert),

);

$cape-cod-grey: #484d4b;
$blanc-brown: #d4ccb9;
$silver-chalice-grey: #b0b0ab;
$bison-hide-grey: #b1a48e;
$eggplant: #862754;
$eggplant-invert: findColorInvert($eggplant);
$blue: #3D81DA;
$apple-red: #9F1E17;
$burnt-orange: #F4581F;

$navbar-background-color: $cape-cod-grey;
$background: $blanc-brown;
$footer-background-color:  $silver-chalice-grey;
$custom-colors: (
  "apple": ($apple, $apple-invert),
  "egglplant": ($eggplant, $eggplant-invert),
  "fuschia": ($fuschia, $fuschia-invert),
  "gold": ($gold, $gold-invert),
  "cyan": ($cyan, $cyan-invert),
);

$header-text-gradient: linear-gradient($fuschia 20%, $gold 40%, $cyan 60%, $eggplant 80%);


@import "~bulma";
@import "~buefy/src/scss/buefy";
